body {
    background-color: #00c7e8;
    color: white;
    margin: 0 auto;

}
button {
    background: transparent;
    border: 3px solid white;
border-radius: 4px;
width: 200px;
height: 50px;
color: white;
display: block;
margin: 20px auto;
}
a, i {
    color: white;
}
h1 {
    text-align: center;
}
.box {
    margin: 200px auto;
    max-width: 500px;
    display: flex;
   align-items: center;
    max-height: 300px;
}
