@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    background-color: #00c7e8;
    color: white;
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
}
button {
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    color: white;
    display: block;
    margin: 20px auto;
}
a, i {
    color: white;
}
h1 {
    text-align: center;
}
.box {
    margin: 0px auto;
    max-width: 500px;
    max-height: 300px;
    text-align: center;
}
.quote {
    display: block;
}
